.about {
  min-height: 505px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  &__title {
    color: #fff;
    font-size: 1.125rem;
    font-weight: $font-medium;
    text-transform: uppercase;
    margin: 1.875rem 0;
    letter-spacing: 1px;
  }

  &__description {
    font-size: 0.9375rem;
    font-weight: $font-light;
    color: #fff;
  }

}
