.ui-widget {
  font-family: $font-family;
}

.ui-widget-content {
  border-color: #E8E9EA;
  border-width: 2px;
  box-shadow: 5px 6px 15px 0 rgba(1,1,1,.45);
}

.ui-datepicker .ui-widget-header,
.tab-description .ui-widget-content,
.panel-group .ui-widget-content,
.ui-datepicker .ui-state-default,
.ui-datepicker-unselectable.ui-state-disabled,
.ui-datepicker-calendar .ui-state-default:hover,
.ui-datepicker-group {
    border: none !important;
    background: transparent;
}

.ui-datepicker {
  padding: 0;
}

.ui-datepicker .ui-widget-header {
  background: #DADBDB;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
    background-image: none;
}

.ui-datepicker .ui-datepicker-prev {
    left: 50px;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    margin-top: 14px;
    width: 14px;
    height: 14px;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next, .ui-datepicker .ui-datepicker-prev:hover, .ui-datepicker .ui-datepicker-next:hover, .ui-state-hover, .ui-widget-content .ui-state-hover {
    border-right: none;
    border-bottom: none;
    border-left: 2px solid #949595;
    border-top: 2px solid #949595;
    border-radius: 0;
    background-color: transparent;
}

.ui-datepicker .ui-datepicker-prev {
    transform: rotate(-45deg);
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
    background-image: none;
}

.ui-datepicker .ui-datepicker-next {
    right: 50px;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-prev:hover,
.ui-datepicker .ui-datepicker-next:hover,
.ui-state-hover,
.ui-widget-content .ui-state-hover {
    border-right: none;
    border-bottom: none;
    border-left: 2px solid #949595;
    border-top: 2px solid #949595;
    border-radius: 0;
    background: none;
    background-color: transparent;
    cursor: pointer;
}

.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
    top: 2px;
}


.ui-datepicker .ui-datepicker-next {
    transform: rotate(135deg);
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    display: none;
}

.ui-datepicker .ui-datepicker-title, .ui-datepicker-calendar th span {
    margin-top: 5px;
    color: #000;
}

.ui-datepicker table {
    width: 80%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 10% .4em;
}

.ui-datepicker th {
    padding: .7em .3em;
    text-align: center;
    text-transform: lowercase;
    border: 0;
}

.ui-datepicker-calendar th span, .ui-widget-header {
    font-weight: normal;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
    background-image: none;
}

.ui-datepicker-today, .ui-widget-content .ui-datepicker-today {
    background-color: transparent !important;
}

.ui-datepicker-today a, .ui-datepicker-today .more-filter span, .more-filter .ui-datepicker-today span, .ui-datepicker-today .filters-mobile span, .filters-mobile .ui-datepicker-today span, .ui-widget-content .ui-datepicker-today a, .ui-widget-content .ui-datepicker-today .more-filter span, .more-filter .ui-widget-content .ui-datepicker-today span, .ui-widget-content .ui-datepicker-today .filters-mobile span, .filters-mobile .ui-widget-content .ui-datepicker-today span {
    background-color: rgba(34,192,241,0.3) !important;
}

.ui-datepicker td {
    border: 0;
    padding: 1px;
    font-weight: $font-light;
}

.ui-datepicker-today a, .ui-datepicker-today .more-filter span, .more-filter .ui-datepicker-today span, .ui-datepicker-today .filters-mobile span, .filters-mobile .ui-datepicker-today span, .ui-widget-content .ui-datepicker-today a, .ui-widget-content .ui-datepicker-today .more-filter span, .more-filter .ui-widget-content .ui-datepicker-today span, .ui-widget-content .ui-datepicker-today .filters-mobile span, .filters-mobile .ui-widget-content .ui-datepicker-today span {
    background-color: $primary-color !important;
    color: #fff;
}

.ui-datepicker-calendar th span,
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  font-weight: $font-light;
}

.ui-widget-header {
  font-weight: $font-medium;
}

.ui-datepicker-title .ui-datepicker-month,
.ui-datepicker-title .ui-datepicker-year {
  font-size: 1rem;
}
