.large-hero__search-box {

  label {
    color: #fff;
    text-transform: uppercase;
    font-size: 0.8125rem;
    font-weight: 500;
    letter-spacing: 1px;
  }

  select,
  input {
    box-shadow: 5px 6px 15px 0 rgba(1,1,1,.45);
    border: 0 !important;

    &:focus {
      box-shadow: 5px 6px 15px 0 rgba(1,1,1,.45);
    }
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    // TODO: replace ../ with /static/ before assets
    background-image: url('../assets/select-arrow.png');
    background-repeat: no-repeat;
    background-position: 95% 15px;
    text-indent: 0.01px;
    text-overflow: "";
    cursor: pointer;
  }

  select,
  input[type="text"] {
    color: #808080;
    font-weight: $font-light;
    font-size: 0.875rem;
  }

  .checkin {
    min-height: 38px;
    // TODO: replace ../ with /static/ before assets
    background: url('../assets/calendar-icon.png') 95% 6px no-repeat #fff;
  }

  input[type="submit"] {
    @extend %btn-custom;
  }

}
