.large-hero__search-box {

  label {
    color: #fff;
    text-transform: uppercase;
    font-size: 0.8125rem;
    font-weight: 500;
    letter-spacing: 1px;
  }

  select,
  input {
    box-shadow: 5px 6px 15px 0 rgba(1,1,1,.45);
  }

  select,
  input[type="text"] {
    color: #808080;
    font-weight: $font-light;
    font-size: 0.875rem;
  }

  .checkin {
    min-height: 38px;
    background: url('../assets/calendar-icon.png') 95% 6px no-repeat #fff;
  }

  input[type="submit"] {
    @extend %btn-custom;
  }

}
