.navbar {

  width: 100%;
  background: none !important;

  @media(max-width: 34em) {
    background: black !important;
  }

  .navbar-toggler {
    cursor: pointer;
    outline: 0;
  }

  .nav-link {
    text-transform: uppercase;
  }

  .nav-item {
    padding: 0 1rem;

    @media(max-width: 34em) {
      padding: 0;
    }

    .nav-link {
      @media(max-width: 34em) {
        color: white !important
      }
    }
  }
}

.top-bar {

  width: 100%;

  .languages {
    float: right;
    margin: 0;
    margin-left: 30px;
    list-style: none;


    li {
      display: inline;
    }

    li.nonactive {
      img {
        filter: grayscale(100%);
      }
    }

    a:hover {
      text-decoration: none;
    }

    img {
      width: 32px;
      padding-right: 10px;
      margin-top: 8px;
    }
  }

  .tip,
  .phone {
    float: right;
    margin-top: 8px;
  }

  .tip {
    text-transform: uppercase;
  }
}
