.navbar {

  width: 100%;

  .bg-custom {
    background-color: #fff !important;
  }

  &-custom {
    .navbar-toggler {
      border-color: rgba(35, 49, 102, 0.3);
      outline: none;
    }

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(35,49,102, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  }

  .nav-link {
    text-transform: uppercase;
    font-size: 0.8125rem;
    font-weight: $font-medium;
    color: #1a1a1a;
  }

  .nav-item {
    padding: 0 1rem;

    @media(max-width: 34em) {
      padding: 0;
    }

    .nav-link {
      @media(max-width: 34em) {
        color: white !important
      }
    }
  }

  .dropdown-menu {
    background: #131823;
    border-radius: 0;
  }

  .dropdown-item {
    font-weight: $font-light;
    color: #fff;
    padding: 1rem 1.75rem;

    &:hover,
    &:focus {
      background-color: #29a1d8;
      color: #131823;
    }
  }
}
