.template {
  &__secondary {

    header {

      @media (min-width: 992px) {
        width: 960px;
        position: absolute;
        top: 31px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
      }

      @media (min-width: 1200px) {
        width: 1140px;
      }
    }

    .logo {
      &--secondary {
        display: none;
        @media (min-width: 992px) {
          display: inline-block;
        }
      }

      &--primary {
        display: inline-block;
        @media (min-width: 992px) {
          display: none;
        }
      }
    }

    .navbar {
      .nav-link {
        @media (min-width: 992px) {
          color: #fff;
        }
      }
    }

    .dropdown-toggle:after {
      border-top: 2px solid #000;
      border-left: 2px solid #000;

      @media (min-width: 992px) {
        border-top-color: #fff;
        border-left-color: #fff;
      }
    }

    .dropdown-toggle:hover:after {
      border-top-color: #36b0d9;
      border-left-color: #36b0d9;
    }

    .large-hero {
      min-height: 674px;

      &__text-content {
        top: 30%;

        @media (min-width: 576px) {
          top: 40%;
        }

        @media (min-width: 992px) {
          top: 50%;
        }
      }
    }
  }
}
