body {
  font-family: "soho-gothic-pro", sans-serif; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

@font-face {
  font-family: 'soho-gothic-pro';
  src: url("../fonts/SohoStdRegular/SohoStdRegular.woff2") format("woff2"), url("../fonts/SohoStdRegular/SohoStdRegular.woff") format("woff"), url("../fonts/SohoStdRegular/SohoStdRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'soho-gothic-pro';
  src: url("../fonts/SohoGothicProThin/SohoGothicProThin.woff2") format("woff2"), url("../fonts/SohoGothicProThin/SohoGothicProThin.woff") format("woff"), url("../fonts/SohoGothicProThin/SohoGothicProThin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'soho-gothic-pro';
  src: url("../fonts/SohoGothicProLight/SohoGothicProLight.woff2") format("woff2"), url("../fonts/SohoGothicProLight/SohoGothicProLight.woff") format("woff"), url("../fonts/SohoGothicProLight/SohoGothicProLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'soho-gothic-pro';
  src: url("../fonts/SohoGothicProMedium/SohoGothicProMedium.woff2") format("woff2"), url("../fonts/SohoGothicProMedium/SohoGothicProMedium.woff") format("woff"), url("../fonts/SohoGothicProMedium/SohoGothicProMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'soho-gothic-pro';
  src: url("../fonts/SohoGothicProBold/SohoGothicProBold.woff2") format("woff2"), url("../fonts/SohoGothicProBold/SohoGothicProBold.woff") format("woff"), url("../fonts/SohoGothicProBold/SohoGothicProBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

.top-bar {
  width: 100%;
  border-bottom: 1px solid #f0f0f0; }
  .top-bar .languages {
    margin: 0;
    list-style: none;
    padding: 0; }
    .top-bar .languages li {
      display: inline-block; }
    .top-bar .languages li.nonactive img {
      filter: grayscale(100%); }
    .top-bar .languages a:hover {
      text-decoration: none; }
    .top-bar .languages img {
      width: 32px;
      padding-right: 10px;
      margin-top: 8px; }
  .top-bar .tip,
  .top-bar .phone,
  .top-bar .separator {
    margin-top: 8px;
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: 500; }
  .top-bar .separator {
    color: #b4b4b4;
    margin-left: 15px;
    margin-right: 15px; }
  .top-bar .phone {
    color: #7a7a7a; }
    .top-bar .phone:hover {
      text-decoration: none; }
  .top-bar .tip {
    text-transform: uppercase;
    color: #23669c; }

.navbar {
  width: 100%; }
  .navbar .bg-custom {
    background-color: #fff !important; }
  .navbar-custom .navbar-toggler {
    border-color: rgba(35, 49, 102, 0.3);
    outline: none; }
  .navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(35,49,102, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }
  .navbar .nav-link {
    text-transform: uppercase;
    font-size: 0.8125rem;
    font-weight: 500;
    color: #1a1a1a; }
  .navbar .nav-item {
    padding: 0 1rem; }
    @media (max-width: 34em) {
      .navbar .nav-item {
        padding: 0; } }
    @media (max-width: 34em) {
      .navbar .nav-item .nav-link {
        color: white !important; } }
  .navbar .dropdown-menu {
    background: #131823;
    border-radius: 0; }
  .navbar .dropdown-item {
    font-weight: 300;
    color: #fff;
    padding: 1rem 1.75rem; }
    .navbar .dropdown-item:hover, .navbar .dropdown-item:focus {
      background-color: #29a1d8;
      color: #131823; }

.large-hero {
  min-height: 556px;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  .large-hero__text-content {
    position: absolute;
    top: 40%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    text-align: center; }
  .large-hero__title, .large-hero__subtitle {
    color: #fff;
    margin: 0; }
  .large-hero__title {
    font-weight: 100;
    font-size: 5.125rem;
    margin-bottom: .4em; }
  .large-hero__subtitle {
    font-size: 1.6875rem;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .large-hero__search-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }
  .large-hero__search-box {
    background-color: rgba(0, 51, 76, 0.42);
    margin: 0 3rem;
    padding: 2rem 0 1rem; }

#bsf label {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-weight: 500;
  letter-spacing: 1px; }

#bsf select,
#bsf input {
  box-shadow: 5px 6px 15px 0 rgba(1, 1, 1, 0.45); }

#bsf select {
  color: #808080;
  font-weight: 300;
  font-size: 0.9375rem; }

#bsf input[type="submit"] {
  color: #fff;
  font-size: 0.8125rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0.625rem 0.75rem;
  margin-top: 0.625rem;
  width: 100%;
  max-width: 168px;
  border: none;
  background: #01618d;
  background: linear-gradient(#01728d, #01508d); }

.headline {
  font-size: 1.625rem;
  margin: 3rem 0 4.5rem;
  font-weight: normal;
  text-transform: uppercase;
  color: #8f8f8f;
  letter-spacing: 2px;
  position: relative; }
  .headline:after {
    content: '';
    width: 116px;
    height: 6px;
    display: block;
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    background: url("../assets/headline-stripe.png") center center no-repeat; }
  .headline--white {
    color: #fff; }
    .headline--white:after {
      background: url("../assets/headline-stripe-white.png") center center no-repeat; }

.experiences__item {
  margin-bottom: 4em;
  position: relative; }
  .experiences__item:hover .experiences__cta {
    display: inline-block; }
  .experiences__item:hover .experiences__separator {
    border-color: #4cb2d6; }

.experiences__title {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #014f8d;
  margin: 1.875rem 0 0.9375rem; }

.experiences__rating, .experiences__rating-count {
  display: inline-block; }

.experiences__rating-count {
  padding-left: 10px;
  font-weight: 300;
  color: #8f8f8f;
  font-size: 0.8125rem; }

.experiences__description {
  color: #000;
  font-weight: 300;
  margin-bottom: 2.25rem; }

.experiences__cta {
  display: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px; }
  .experiences__cta:hover, .experiences__cta:focus {
    color: #4cb2d6;
    text-decoration: none; }

.experiences__separator {
  border-bottom: 2px solid transparent; }

.experiences__price {
  position: absolute;
  top: 16px;
  right: 0;
  background: rgba(30, 37, 56, 0.9);
  padding: 4px 16px;
  text-align: center; }
  .experiences__price b {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px; }
  .experiences__price p {
    color: #4cb2d6;
    font-size: 0.75rem;
    margin-bottom: 0; }

.experiences ul {
  list-style: none;
  padding: 0;
  margin: 0 0 1rem; }

.experiences ul > li {
  display: inline-block; }

.experiences ul > li > a {
  font-weight: 300;
  color: #000;
  font-size: 0.875rem;
  border: 1px solid #ddd;
  padding: 0 .5rem; }
  .experiences ul > li > a:hover {
    text-decoration: none; }

.about {
  min-height: 505px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  .about__title {
    color: #fff;
    font-size: 1.125rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: 1.875rem 0;
    letter-spacing: 1px; }
  .about__description {
    font-size: 0.9375rem;
    font-weight: 300;
    color: #fff; }

.location__wrapper {
  margin-bottom: 40px; }

.location__caption {
  position: absolute;
  bottom: 40px;
  left: 15px;
  z-index: 10;
  width: calc(100% - 30px);
  height: 65px;
  padding-top: 18px;
  padding-left: 18px;
  background: rgba(0, 0, 0, 0.5); }
  .location__caption h5 {
    color: #fff;
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px; }

.feedback {
  min-height: 505px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .feedback__text {
    color: #fff;
    font-weight: 300;
    position: relative;
    margin: 3rem 0 2rem; }
  .feedback__author {
    color: #000;
    font-weight: 700; }
  .feedback__type {
    color: #fff;
    font-weight: 300; }
  .feedback__image {
    margin-top: 25px;
    width: 66px;
    height: 66px;
    border-radius: 50%; }

.site-footer {
  padding: 55px 0 65px;
  background: #1e2538; }
  .site-footer__headline {
    font-size: .875rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #29a1d8;
    letter-spacing: 1px;
    margin-bottom: 2em; }
  .site-footer__links {
    padding: 0;
    margin: 0;
    list-style: none; }
    .site-footer__links li {
      display: block;
      margin: .5em 0; }
    .site-footer__links li > a,
    .site-footer__links li > address {
      color: #fff;
      font-weight: 300;
      font-size: .875rem; }
    .site-footer__links li > a:hover {
      text-decoration: none;
      opacity: .6; }
    .site-footer__links li > img {
      padding-right: .5rem; }
    .site-footer__links address {
      display: inline; }
  .site-footer__social li {
    display: inline-block;
    padding-right: .5rem; }

.bottom-bar {
  padding: 1rem 0;
  background: #131823; }
  .bottom-bar .copy {
    color: #fff;
    font-weight: 300;
    font-size: .875rem; }
