body {
  font-family: "soho-gothic-pro", sans-serif; }

.img-responsive {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto; }

.map-wrapper {
  overflow: hidden;
  height: 400px;
  position: relative; }

#map {
  width: 100%;
  height: 100%; }

@font-face {
  font-family: 'soho-gothic-pro';
  src: url("../fonts/SohoStdRegular/SohoStdRegular.woff2") format("woff2"), url("../fonts/SohoStdRegular/SohoStdRegular.woff") format("woff"), url("../fonts/SohoStdRegular/SohoStdRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'soho-gothic-pro';
  src: url("../fonts/SohoGothicProThin/SohoGothicProThin.woff2") format("woff2"), url("../fonts/SohoGothicProThin/SohoGothicProThin.woff") format("woff"), url("../fonts/SohoGothicProThin/SohoGothicProThin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'soho-gothic-pro';
  src: url("../fonts/SohoGothicProLight/SohoGothicProLight.woff2") format("woff2"), url("../fonts/SohoGothicProLight/SohoGothicProLight.woff") format("woff"), url("../fonts/SohoGothicProLight/SohoGothicProLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'soho-gothic-pro';
  src: url("../fonts/SohoGothicProMedium/SohoGothicProMedium.woff2") format("woff2"), url("../fonts/SohoGothicProMedium/SohoGothicProMedium.woff") format("woff"), url("../fonts/SohoGothicProMedium/SohoGothicProMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'soho-gothic-pro';
  src: url("../fonts/SohoGothicProBold/SohoGothicProBold.woff2") format("woff2"), url("../fonts/SohoGothicProBold/SohoGothicProBold.woff") format("woff"), url("../fonts/SohoGothicProBold/SohoGothicProBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

.large-hero__search-box input[type="submit"], .listing input[type="submit"], .list-item__cta, .activity__search-box input[type="submit"], .testimonial__contact-form input[type="submit"], .checkout__payments input[type="submit"] {
  color: #fff;
  font-size: 0.8125rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0.625rem 0.75rem;
  margin-top: 0.625rem;
  width: 100%;
  max-width: 168px;
  border: none;
  background: #01618d;
  background: linear-gradient(#01728d, #01508d);
  border-radius: 0.25rem;
  outline: none; }
  .large-hero__search-box input[type="submit"]:not(:disabled):not(.disabled):active, .listing input[type="submit"]:not(:disabled):not(.disabled):active, .list-item__cta:not(:disabled):not(.disabled):active, .activity__search-box input[type="submit"]:not(:disabled):not(.disabled):active, .testimonial__contact-form input[type="submit"]:not(:disabled):not(.disabled):active, .checkout__payments input[type="submit"]:not(:disabled):not(.disabled):active, .large-hero__search-box input[type="submit"]:not(:disabled):not(.disabled):active, .listing input[type="submit"]:not(:disabled):not(.disabled):active, .list-item__cta:not(:disabled):not(.disabled):active, .activity__search-box input[type="submit"]:not(:disabled):not(.disabled):active, .testimonial__contact-form input[type="submit"]:not(:disabled):not(.disabled):active, .checkout__payments input[type="submit"]:not(:disabled):not(.disabled):active {
    color: #fff;
    background: #01618d;
    background: linear-gradient(#01728d, #01508d);
    border: none; }

.top-bar {
  width: 100%;
  border-bottom: 1px solid #f0f0f0; }
  .top-bar .languages {
    margin: 0;
    list-style: none;
    padding: 0; }
    .top-bar .languages li {
      display: inline-block; }
    .top-bar .languages li.nonactive img {
      filter: grayscale(100%); }
    .top-bar .languages a:hover {
      text-decoration: none; }
    .top-bar .languages img {
      width: 32px;
      padding-right: 10px;
      margin-top: 8px; }
  .top-bar .tip,
  .top-bar .phone,
  .top-bar .separator {
    margin-top: 8px;
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: 500; }
  .top-bar .separator {
    color: #b4b4b4;
    margin-left: 15px;
    margin-right: 15px; }
  .top-bar .phone {
    color: #7a7a7a; }
    .top-bar .phone:hover {
      text-decoration: none; }
  .top-bar .tip {
    text-transform: uppercase;
    color: #23669c; }

.navbar {
  width: 100%; }
  .navbar .bg-custom {
    background-color: #fff !important; }
  .navbar-custom .navbar-toggler {
    border-color: rgba(35, 49, 102, 0.3);
    outline: none; }
  .navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(35,49,102, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }
  .navbar .nav-link {
    text-transform: uppercase;
    font-size: 0.8125rem;
    font-weight: 500;
    color: #1a1a1a; }
  .navbar .nav-item {
    padding: 0 1rem; }
    @media (max-width: 34em) {
      .navbar .nav-item {
        padding: 0; } }
  .navbar .dropdown-menu {
    background: #fff;
    border-radius: 0;
    border-color: transparent; }
    @media (min-width: 530px) {
      .navbar .dropdown-menu {
        background: #131823;
        border-color: rgba(0, 0, 0, 0.15); } }
  .navbar .dropdown-item {
    font-weight: 300;
    color: #000;
    padding: 1rem 1.75rem; }
    @media (min-width: 530px) {
      .navbar .dropdown-item {
        color: #fff; } }
    .navbar .dropdown-item:hover, .navbar .dropdown-item:focus {
      background-color: #29a1d8;
      color: #131823; }

.large-hero {
  min-height: 556px;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  .large-hero__text-content {
    position: absolute;
    top: 20%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    text-align: center; }
    @media (min-width: 576px) {
      .large-hero__text-content {
        top: 30%; } }
    @media (min-width: 992px) {
      .large-hero__text-content {
        top: 40%; } }
  .large-hero__title, .large-hero__subtitle {
    color: #fff;
    margin: 0; }
  .large-hero__title {
    font-weight: 100;
    font-size: 2.4rem;
    margin-bottom: .4em; }
    @media (min-width: 576px) {
      .large-hero__title {
        font-size: 3.6rem; } }
    @media (min-width: 992px) {
      .large-hero__title {
        font-size: 5.125rem; } }
  .large-hero__subtitle {
    font-size: 1rem;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2px; }
    @media (min-width: 576px) {
      .large-hero__subtitle {
        font-size: 1.375rem; } }
    @media (min-width: 992px) {
      .large-hero__subtitle {
        font-size: 1.6875rem; } }
  .large-hero__search-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }
  .large-hero__search-box {
    background-color: rgba(0, 51, 76, 0.42);
    margin: 0 3rem;
    padding: 2rem 0 1rem; }

.large-hero__search-box label {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-weight: 500;
  letter-spacing: 1px; }

.large-hero__search-box select,
.large-hero__search-box input {
  box-shadow: 5px 6px 15px 0 rgba(1, 1, 1, 0.45); }

.large-hero__search-box select,
.large-hero__search-box input[type="text"] {
  color: #808080;
  font-weight: 300;
  font-size: 0.875rem; }

.large-hero__search-box .checkin {
  min-height: 38px;
  background: url("../assets/calendar-icon.png") 95% 6px no-repeat #fff; }

.headline {
  font-size: 1.625rem;
  margin: 3rem 0 4.5rem;
  font-weight: normal;
  text-transform: uppercase;
  color: #8f8f8f;
  letter-spacing: 2px;
  position: relative; }
  .headline:after {
    content: '';
    width: 116px;
    height: 6px;
    display: block;
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    background: url("../assets/headline-stripe.png") center center no-repeat; }
  .headline--white {
    color: #fff; }
    .headline--white:after {
      background: url("../assets/headline-stripe-white.png") center center no-repeat; }

.experiences__item {
  margin-bottom: 4em;
  position: relative; }
  .experiences__item:hover .experiences__cta {
    display: inline-block; }
  .experiences__item:hover .experiences__separator {
    border-color: #4cb2d6; }

.experiences__title {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #014f8d;
  margin: 1.875rem 0 0.9375rem; }

.experiences__rating, .experiences__rating-count {
  display: inline-block; }

.experiences__rating-count {
  padding-left: 10px;
  font-weight: 300;
  color: #8f8f8f;
  font-size: 0.8125rem; }

.experiences__description {
  color: #000;
  font-weight: 300;
  margin-bottom: 2.25rem; }

.experiences__cta {
  display: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px; }
  .experiences__cta:hover, .experiences__cta:focus {
    color: #4cb2d6;
    text-decoration: none; }

.experiences__separator {
  border-bottom: 2px solid transparent; }

.experiences__price {
  position: absolute;
  top: 16px;
  right: 0;
  background: rgba(30, 37, 56, 0.9);
  padding: 4px 16px;
  text-align: center; }
  .experiences__price b {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px; }
  .experiences__price p {
    color: #4cb2d6;
    font-size: 0.75rem;
    margin-bottom: 0; }

.experiences ul {
  list-style: none;
  padding: 0;
  margin: 0 0 1rem; }

.experiences ul > li {
  display: inline-block; }

.experiences ul > li > a {
  font-weight: 300;
  color: #000;
  font-size: 0.875rem;
  border: 1px solid #ddd;
  padding: 0 .5rem; }
  .experiences ul > li > a:hover {
    text-decoration: none;
    box-shadow: 1px 1px 5px #bbb; }

.about {
  min-height: 505px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  .about__title {
    color: #fff;
    font-size: 1.125rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: 1.875rem 0;
    letter-spacing: 1px; }
  .about__description {
    font-size: 0.9375rem;
    font-weight: 300;
    color: #fff;
    margin-bottom: 2em; }

.location__wrapper {
  margin-bottom: 40px; }

.location__caption {
  position: absolute;
  bottom: 40px;
  left: 15px;
  z-index: 10;
  width: calc(100% - 30px);
  height: 65px;
  padding-top: 18px;
  padding-left: 18px;
  background: rgba(0, 0, 0, 0.5); }
  .location__caption h5 {
    color: #fff;
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px; }

.feedback {
  min-height: 505px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .feedback__text {
    color: #fff;
    font-weight: 300;
    position: relative;
    margin: 3rem 0 2rem; }
  .feedback__author {
    color: #000;
    font-weight: 700; }
  .feedback__type {
    color: #fff;
    font-weight: 300; }
  .feedback__image {
    margin-top: 25px;
    width: 66px;
    height: 66px;
    border-radius: 50%; }

.site-footer {
  padding: 24px 0;
  background: #1e2538; }
  .site-footer__headline {
    font-size: .875rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #29a1d8;
    letter-spacing: 1px;
    margin: 2em 0; }
  .site-footer__links {
    padding: 0;
    margin: 0;
    list-style: none; }
    .site-footer__links li {
      display: block;
      margin: .5em 0; }
    .site-footer__links li > a,
    .site-footer__links li > address {
      color: #fff;
      font-weight: 300;
      font-size: .875rem; }
    .site-footer__links li > a:hover {
      text-decoration: none;
      opacity: .6; }
    .site-footer__links li > img {
      padding-right: .5rem; }
    .site-footer__links address {
      display: inline; }
  .site-footer__social li {
    display: inline-block;
    padding-right: .5rem; }

.bottom-bar {
  padding: 1rem 0;
  background: #131823; }
  .bottom-bar .copy {
    color: #fff;
    font-weight: 300;
    font-size: .875rem; }

.mfp-bottom-bar {
  background: #fff;
  padding: 1rem 2rem;
  margin-top: -40px; }

.mfp-title {
  text-align: center;
  padding-right: 0; }
  .mfp-title span {
    font-weight: 300;
    font-size: 1.5625rem;
    color: #4cb2d6;
    text-transform: uppercase;
    margin-bottom: 1em;
    display: inline-block; }
  .mfp-title div {
    font-weight: 300;
    font-size: .875rem;
    color: #000; }

.mfp-counter {
  visibility: hidden; }

img.mfp-img {
  /* TODO: remove this once correct image sizes is provided on BA */
  width: 640px; }

.listing {
  padding: 50px 0;
  background: #f7f7f7; }
  .listing__sidebar {
    background: #ededed; }
  .listing__heading {
    text-transform: uppercase;
    background: #014f8d;
    margin: 0;
    color: #fff;
    letter-spacing: 1px;
    font-size: 14px;
    padding: 1em 0; }
  .listing__search-box {
    padding: 2rem 0;
    border: 1px solid #d9d9d9; }
  .listing label {
    text-transform: uppercase;
    font-size: 0.8125rem;
    font-weight: 500;
    color: #000; }
  .listing select,
  .listing input {
    box-shadow: none; }
  .listing select,
  .listing input[type="text"] {
    color: #808080;
    font-weight: 300;
    font-size: 0.875rem; }
  .listing .checkin {
    min-height: 38px;
    background: url("../assets/calendar-icon.png") 95% 6px no-repeat #fff; }
  .listing input[type="submit"] {
    max-width: 100%; }
  .listing__info {
    padding: 2rem 0;
    background: #f7f7f7; }
    .listing__info h4 {
      font-size: 1.5rem;
      font-weight: 300;
      text-transform: uppercase;
      color: #014f8d;
      margin: 1em 0;
      text-align: left;
      letter-spacing: 1px; }
    .listing__info p {
      color: #000;
      font-weight: 300;
      margin: 0 0 1em; }

.list-item {
  margin-bottom: 1.5em;
  background: #fff; }
  .list-item__text-content {
    padding-left: 16px; }
    @media (min-width: 992px) {
      .list-item__text-content {
        padding-left: 0; } }
  .list-item__title {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #014f8d;
    margin: 1em 0; }
  .list-item__price {
    margin-top: 1em; }
  .list-item__rating, .list-item__rating-count {
    display: inline-block; }
  .list-item__rating-count {
    padding-left: 10px;
    font-weight: 300;
    color: #8f8f8f;
    font-size: 0.8125rem; }
  .list-item__description {
    color: #000;
    font-weight: 300;
    margin: 1em 0; }
  .list-item__price b {
    color: #000;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px; }
  .list-item__price p {
    color: #8f8f8f;
    font-size: 0.75rem;
    margin-bottom: 0; }
  .list-item__cta {
    width: auto;
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%); }

.activity {
  background: #f7f7f7; }
  .activity__headline {
    padding: 2rem 0; }
    .activity__headline span {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 700;
      font-size: 1.6875rem;
      color: #014f8d;
      margin-right: 2em; }

.activity__gallery ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.activity__gallery ul li {
  margin-bottom: 1em; }

.activity__details {
  padding: 2rem 0;
  margin: 0;
  list-style: none; }
  .activity__details li {
    display: inline-block;
    margin-right: 2em;
    text-transform: uppercase; }
    .activity__details li img {
      margin-left: 10px; }
    .activity__details li b {
      color: #014f8d;
      font-weight: 500; }
    .activity__details li span {
      color: #000;
      font-weight: 300; }

.activity__description {
  color: #000;
  font-weight: 300;
  margin: 1em 0; }

.activity__additions {
  padding: 1rem 0; }
  .activity__additions h5 {
    margin: 0 0 1em;
    color: #014f8d;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase; }
  .activity__additions p {
    color: #000;
    font-weight: 300;
    margin: 1em 0; }
  .activity__additions ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .activity__additions ul li {
      display: inline-block;
      padding-right: 2em;
      color: #000;
      font-weight: 300; }
      .activity__additions ul li > p {
        margin: 0; }

.activity .cancellink {
  color: #014f8d;
  font-weight: 300;
  cursor: pointer; }

.activity .cancelation-policy {
  display: none; }

.activity__price {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-top: 5px solid #014f8d;
  margin-bottom: 2em; }
  .activity__price b {
    font-size: 1.6875rem;
    font-weight: 500; }
  .activity__price p {
    margin-bottom: .5em;
    font-size: 1rem;
    color: #8f8f8f;
    font-weight: 300; }

.activity__bookings {
  text-transform: uppercase;
  background: #014f8d;
  margin: 0;
  color: #fff;
  letter-spacing: 1px;
  font-size: 14px;
  padding: 1em 0; }

.activity__search-box {
  padding: 2em 0 1em;
  margin-bottom: 1em;
  background: #ededed;
  border: 1px solid #d9d9d9; }
  .activity__search-box label {
    text-transform: uppercase;
    font-size: 0.8125rem;
    font-weight: 500;
    color: #000; }
  .activity__search-box .checkin {
    min-height: 38px;
    background: url("../assets/calendar-icon.png") 95% 6px no-repeat #fff; }
  .activity__search-box input[type="submit"] {
    max-width: 100%; }
  .activity__search-box .timeslots label {
    float: left;
    width: 33%;
    background: #fff;
    border: 1px solid #d0d0d0;
    margin: 0;
    overflow: auto; }
  .activity__search-box .timeslots span {
    text-align: center;
    font-size: .875rem;
    font-weight: 300;
    padding: .5em 0;
    display: block;
    color: #c0c0c0; }
  .activity__search-box .timeslots input {
    position: absolute;
    top: -9999px; }
  .activity__search-box .timeslots input:checked + span {
    background: #404040;
    color: #f7f7f7; }
  .activity__search-box .price-category {
    padding: 1rem 0;
    border-bottom: 1px solid #c0c0c0; }
    .activity__search-box .price-category:last-child {
      border-bottom: none; }
    .activity__search-box .price-category h6, .activity__search-box .price-category b {
      color: #333;
      font-weight: 300;
      font-size: 1rem;
      margin: 0;
      text-transform: uppercase; }
    .activity__search-box .price-category span {
      color: #c0c0c0;
      font-size: 1rem;
      text-transform: lowercase;
      font-weight: 300; }
    .activity__search-box .price-category input,
    .activity__search-box .price-category textarea {
      border: 1px solid #c8c8c8;
      box-sizing: border-box;
      margin: 0;
      outline: none;
      padding: 10px; }
    .activity__search-box .price-category input[type="button"] {
      -webkit-appearance: button;
      cursor: pointer; }
    .activity__search-box .price-category input::-webkit-outer-spin-button,
    .activity__search-box .price-category input::-webkit-inner-spin-button {
      -webkit-appearance: none; }
    .activity__search-box .price-category .input-group {
      clear: both;
      position: relative; }
    .activity__search-box .price-category .input-group input[type='button'] {
      background-color: #eeeeee;
      min-width: 38px;
      width: auto;
      transition: all 300ms ease; }
    .activity__search-box .price-category .input-group .button-minus,
    .activity__search-box .price-category .input-group .button-plus {
      font-size: 1rem;
      height: 38px;
      padding: 0;
      color: #014f8d;
      width: 38px;
      position: relative; }
    .activity__search-box .price-category .input-group .button-minus {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px; }
    .activity__search-box .price-category .input-group .button-plus {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-left: none; }
    .activity__search-box .price-category .input-group .quantity-field {
      position: relative;
      height: 38px;
      left: -6px;
      text-align: center;
      width: 50px;
      display: inline-block;
      font-size: 13px;
      margin: 0 0 5px;
      resize: vertical;
      border-left: none;
      color: #808080; }
    .activity__search-box .price-category .button-plus {
      left: -13px; }
    .activity__search-box .price-category input[type="number"] {
      -moz-appearance: textfield;
      -webkit-appearance: none; }

.activity__testimonials {
  padding: 2rem 0; }
  .activity__testimonials h5 {
    font-size: 1.5625rem;
    font-weight: 300;
    color: #014f8d;
    letter-spacing: 1px;
    margin: 2em 0;
    text-transform: uppercase; }
  .activity__testimonials .toggle-testimonials {
    color: #014f8d; }
    .activity__testimonials .toggle-testimonials:hover {
      text-decoration: none; }

.testimonial {
  margin-bottom: 3em; }
  .testimonial:last-of-type {
    margin-bottom: 1em; }
  .testimonial__author {
    font-weight: 500;
    color: #000;
    font-size: 1rem;
    padding-right: 1rem; }
  .testimonial__date {
    font-weight: 300; }
  .testimonial__text {
    color: #000;
    font-weight: 300;
    margin: 1em 0; }
  .testimonial__contact-form input[type="text"],
  .testimonial__contact-form textarea {
    color: #808080;
    font-weight: 300;
    font-size: 1rem; }
  .testimonial__contact-form textarea {
    resize: none; }

.social-sharing h6 {
  font-weight: 500;
  color: #014f8d;
  letter-spacing: 1px;
  margin: 0 0 1em; }

.social-sharing ul {
  padding: 0;
  margin: 0;
  list-style: none; }

.social-sharing ul li {
  display: inline-block;
  padding-right: 1rem; }

.social-sharing a:hover {
  opacity: .8; }

.checkout {
  min-height: calc(100vh - 69px); }
  .checkout__header {
    background-color: #014f8d;
    padding: 1rem 0; }
  .checkout__heading {
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #808080;
    background-color: #e8e8e8;
    margin: 0;
    padding: 1rem; }
  .checkout__summary {
    border-radius: 4px;
    margin-bottom: 2rem; }
    @media (min-width: 768px) {
      .checkout__summary {
        margin-bottom: 0; } }
    .checkout__summary h2 {
      font-size: 1.125rem;
      color: #000;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 1px;
      padding: 0 1rem;
      margin: 1.5rem 0 0; }
  .checkout img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px; }
  .checkout__order {
    padding: 2em 0 5em;
    background: #f7f7f7; }
  .checkout .back-to-edit {
    display: block;
    position: absolute;
    z-index: 2;
    top: -21px;
    right: 20px;
    font-weight: 300;
    padding: .5rem 2rem;
    background-color: #6b6b6b;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    letter-spacing: 1px; }
    .checkout .back-to-edit:hover {
      text-decoration: none;
      background-color: #014f8d; }
  .checkout__text-content {
    position: relative;
    border: 1px solid #d2d2d2;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px; }
    .checkout__text-content table {
      width: 100%; }
    .checkout__text-content tr td:last-of-type {
      text-align: right; }
    .checkout__text-content tbody tr td {
      padding: .25rem 1rem;
      color: #808080;
      font-weight: 300; }
    .checkout__text-content tbody tr:last-of-type td {
      padding-bottom: 1rem; }
    .checkout__text-content tfoot {
      background: #dcdcdc; }
      .checkout__text-content tfoot tr td {
        color: #000;
        font-weight: 500;
        padding: .5rem 1rem; }
  .checkout h3 {
    font-size: 1rem;
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0 0 2em; }
  .checkout__payments input {
    color: #808080;
    font-weight: 300;
    font-size: 0.875rem; }
  .checkout__payments input[name="Card_number"] {
    padding-left: 50px;
    background: url("../assets/credit-card-icon.png") 12px 7px no-repeat #fff; }
  .checkout__payments input[type="submit"] {
    max-width: 100%; }
